.tab-pane .tab:selected {
    -fx-background-color: rgba(118, 155, 119, 0.78);
}

.tab-pane .tab {
    -fx-background-color: rgba(150, 94, 94, 0.79);
}


.my-anchor-pane {
    -fx-background-color: rgba(135, 156, 161, 0.79);
    -fx-border-radius: 10px; /* Радиус закругления */
    -fx-background-radius: 10px; /* Радиус закругления фона */
}

.my-button {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
}